.darkBlueText {
  color: rgba(45,58,79,0.9);
}
.greyText {
    color: #5F6E86;
}
.darkBlueBackground {
  background: rgba(45,58,79,0.9);
}

.bigFontSize {
    font-size: 60px;
}

.lineHeight30 {
    line-height: 30px;
}